@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #141219;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1C26;
    --foreground: #DFEEFC;
  }
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Manrope', sans-serif;
}

/* for scanning image */
@keyframes scan-vertical {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}


